.header {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -7px;
    text-align: center;
    margin-bottom: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-judul {
    font-size: 35px;
    color: #333;
}

body {
    background-color: #cce3ec;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#body-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kontainer-landing {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 20px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-basic {
    padding: 10px 50px;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    background-color:rgb(84, 129, 212);
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#current-tab {
    color: rgb(51, 108, 110);
    border-bottom: 3px solid rgb(51, 108, 110);
}

#another-tab {
    color: rgb(71, 71, 71);
}

#another-tab:hover {
    background-color: #b8b8b8;
}

.kontainer-survei {
    width: 780px;   
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.kontainer-send {
    width: 790px;   
    margin: auto;
    padding: 5px;
    text-align: right;
}

#title {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 35px;
    color: #333;
    width: 740px;
    margin-bottom: 5px;
}

#desc {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    color: #333;
    width: 740px;
    margin-bottom: 5px;
}

.question {
    border: 5px;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 10px;
    font-size: 23px;
    background-color: #f3f3f3;
    color: #333;
    width: 700px;
    margin-bottom: 5px;
}

.answer-text {
    border: 0px;
    color: #666666;
    font-size: 15px;
    padding: 5px 8px;
    margin-left: 15px;
    margin-block: 10px; 
    height: 30px;
    width: 300px;
    border-bottom: 2px solid rgb(175, 175, 175);
}

.answer-choice-text {
    border: 0px;    
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 15px;
    color: #666666;
    width: 200px;
    margin-bottom: 5px;
}

.answer-choice-button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.add-option {
    border: 0px;
    border-radius: 5px;
    padding: 8px 13px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
    background-color: rgb(51, 108, 110);
    color: #ffffff;
    text-decoration: none;
}

.add-option:hover {
    cursor: pointer;
}

.del-option {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 146, 146);
    text-decoration: none;
}

.utility {
    text-align: right;
}

.select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    width: 175px;
}

.btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    width: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #ebebeb;
}

label:hover {
  cursor: pointer;
}

.kontainer-home {
    width: 800px;   
    margin: auto;
    padding-block: 20px;
    text-align: center;
}

.kontainer-teks {
    width: 690px;   
    margin: auto;
    padding-block: 20px;
}

.kontainer-title {
    width: 760px;   
    margin: auto;
    background-color: #ffffff;
    padding-block: 15px;
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* home */

.teks-surveidibuat {
    font-size: 25px;
    color: #222;
}

.td-jumlahresponden {
    width: 330px;
    padding-left: 10px;
}

.td-nomorresponden {
    width: 40px;
    padding-left: 25px;
    border-radius: 10px 0 0 10px;
    font-size: 30px;
    background-color: #dbdbdb;
    border: 0px;
}

.td-namasurvei {
    padding-left: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.kontainer-detailsurvei {
    width: 700px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

/* fill */

.teks-judulfill {
    font-size: 35px;
    font-weight: bold;
    padding-inline: 15px;
}

.teks-deskfill {
    font-size: 18px;
    color:#444;
    padding-inline: 15px;
}

.kontainer-masukkannama {
    width: 740px;  
    margin: auto;
    margin-bottom: 10px;
    padding-block: 10px;
    padding-inline: 30px;
    border-radius: 10px;
    background-color: #ffffff;
}

.teks-nama {
    font-size: 26px;
    color: #333;
}

.input-nama {
    border: 0px;
    color: #353535;
    font-size: 15px;
    padding: 3px 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 300px;
    border-bottom: 2px solid rgb(145, 145, 145);
}

.kontainer-surveijawab {
    width: 735px;   
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-inline: 33px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.teks-pilihan {
    color: #333;
}